* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee !important;
  font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial,
    Sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #212529 !important;
  text-align: left !important;
}

.container {
  margin: 0;
}

.navbar {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0 !important;
  background-color: white !important;
}

.topnav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  list-style-type: none;
  font-size: 0.8em;
  background-color: #f5f5f5;
}

.topnav ul {
  display: flex;
  list-style-type: none;
  color: black;
  margin: 0px 140px 60px 0px;
}

.topnav ul li {
  padding: 0px 10px;
}
.topnav ul li:first-child a {
  color: red;
}
.topnav ul li a {
  color: black;
}

.mid-nav {
  display: flex;
  height: 10vh;
  padding: 0px 120px;

  /* top: 18px; */
  align-items: center;
}

.fixed-top {
  position: fixed;
  margin: 0;
  padding: 0px 120px !important;
  top: 8px !important;
  height: 62px !important;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: white;
}

.hidden-navbar-menu {
  display: flex;
  justify-content: center;
}

#hidden-navbar {
  background-color: #fff;
  position: fixed;
  top: 80px !important;
  width: 100%;
  display: block;
  visibility: hidden;
  transition: top 0.3s;
  z-index: 999 !important;
  box-shadow: 10px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

#hidden-navbar a {
  text-align: center;
  float: left;
  display: block;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 60px 10px 60px;
}

#hidden-navbar a:hover {
  background-color: #fff;
  color: black;
}

.logo {
  width: 50px;
  height: 45px;
  padding: 0 20px;
}
.logo-pic {
  width: 50%;
  height: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.logo-pic > img {
  height: 100%;
}

.search {
  display: flex;
}

.search input {
  width: 93%;
  height: 50px;
  padding: 10px;
  position: absolute;
  background-color: #f5f5f5;
  border: 0;
}
.search-icon {
  width: 50px;
  height: 50px;
  position: relative;
  left: 96%;
  padding: 10px;
  background-color: #f57224;
}
.search-icon img {
  width: 25px;
  height: 25px;
  margin: 2px;
  display: flex;
  align-items: center;
}
.cart {
  /* margin-left: 10px; */
  padding: 0px;
}
.cart img {
  width: 70%;
  height: 70%;
}

.download-logo {
  /* margin-left: 10px; */
  padding: 0px;
}
.download-logo img {
  width: 100%;
  height: 100%;
}

.carousel {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 340px;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}
.carousal-inner {
  height: 100%;
}
.carousel-item {
  height: 100%;
}
.carousel-item > img {
  height: 340px;
}
.carousel .page-content {
  margin-top: 40px;
}

.nav-btns {
  margin-top: 10px;
}
.btns {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}
.btn1 {
  display: flex;
  align-items: center;
  width: 19.19%;
  height: 40px;
  background: white;
  margin-right: 12px;
  border-radius: 20px;
}
.btn1:hover {
  box-shadow: 0px 0px 15px 0px grey;
}
.btn1:hover > .right {
  display: block;
}

.right {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin: 0 auto;
  padding-right: 21px;
  display: none;
}
/* .right > img {
  display: block;
} */
.purple:hover {
  color: purple;
}
.green:hover {
  color: green;
}
.blue:hover {
  color: blue;
}
.red:hover {
  color: red;
}
.orange:hover {
  color: orange;
}
.text {
  font-weight: 600;
  font-size: 13px;
}
/* 
.icon {
  width: 20px;
  height: 20px;
} */
.icon > img {
  margin: 5px 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.left {
  position: absolute;
  z-index: 1;
  background: white;
  top: 80px;
  left: 10%;
  height: 340px;
}

.left > ul {
  list-style-type: none;
  padding: 10px;
  font-size: 0.9em;
  height: 100%;
}

.left > ul > li {
  font-size: 14px;
  margin: 5px 0px;
}

.left > ul > li:hover {
  background-color: rgb(214, 212, 212);
}
.left > ul > li > a:hover {
  color: rgb(4, 146, 146);
}

.left > ul > li > a {
  color: rgb(0, 0, 0, 0.5);
  text-decoration: none;
}
/* sub-menu */
.sub-menu {
  position: absolute;
  background-color: white;
  left: 200px;
  padding-top: 10px;
  display: block;
  width: 125px;
  height: 100%;
  z-index: 1;
  visibility: hidden;
  top: 10px;
  box-shadow: 2px 0px 4px grey;
}

.sub-menu > ul {
  list-style-type: none;
}

.sub-menu > ul > li a {
  color: grey;
  padding: 5px;
}

.top-100 {
  top: 0;
  left: 173px;
  height: 100%;
  width: 160px;
}
.top-200 {
  top: 0px;
  left: 160px;
  height: 100%;
  width: 160px;
}

.el:hover > .sub-menu {
  visibility: visible;
}

.left ul li:hover > div {
  visibility: visible;
  transition: all;
}

/* .menu ul li:hover > div {
  visibility: visible;
  transition: all;
} */
/* sub-menu */

.carousel {
  /* position: relative; */
  display: flex;
  width: 80%;
  z-index: -1;
  /* overflow: hidden; */
  /* margin-right: 0; */
  /* margin-left: auto; */
}

.carousel-indicators li {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
}

.mid-section {
  /* display: flex; */

  /* position: absolute;3*/
  height: 340px;
}
.row {
  flex-wrap: nowrap !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.row-content {
  padding-top: 25px;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
.first > .cards-row > .card-section {
  padding: 15px;
}
.first > .cards-row > .card-section > a {
  height: 250px;
}
.second > .cards-row > .card-section > a {
  width: 150px;
  height: 230px;
  margin: 0px 10px;
}
.second > .cards-row > .card-section > a > div {
  background-color: white;
  margin: 0;
}
.second > .cards-row {
  background-color: transparent;
}
.heading {
  display: flex;
  justify-content: space-between;
  height: 20%;
}
.heading > h1 {
  font-size: 22px;
}

.heading > p {
  margin-right: 0;
  justify-content: flex-end;
}

.cards-row {
  height: 80%;
  background-color: white;
}

.cards-row-head {
  display: flex;
  height: 20%;
  align-items: center;
}
.cards-row-head > a {
  width: 100px;

  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #ff6801;
  color: #ff6801;
  font-weight: 500;
}

.left-row > h6 {
  color: #f57224;
}

.ending {
  /* margin-left: 10px; */
  /* width: 70%; */
  display: flex;
  align-items: center;
}
.ending > .box {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  background-color: #ff6801;
}
.box {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.ending > p {
  color: #ff6801;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.cards-row-head {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  /* height: 65px; */
}

.col-12 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-section > a:hover {
  box-shadow: 0 0 30px #d3d3d3;
  z-index: 1;
}

.cards-row-head > a {
  float: right;
  height: 40px;
}

.cards-row-head > a:hover {
  text-decoration-style: none;
  color: orangered;
}

.card-section {
  display: flex;
  /* flex-wrap: wrap; */
  padding: 0px;
  justify-content: space-between;
  margin-bottom: 10px !important;
}
.card-section > a {
  width: 168px;
  height: 100%;
  margin: 2px;
  float: left;
  position: relative;
  text-decoration: none;
}
.card-section > a:hover {
  text-decoration: none;
}
.card-section a > div {
  margin: 0px 10px;
}
.card-section > a > img {
  width: 100%;
  height: 150px;
}

.card-body-des {
  color: black;
}
.card-price {
  font-size: 18px;
  color: #f57224;
  letter-spacing: -0.56px;
  line-height: 22px;
}
.card-price > h1 {
  font-size: 18px;
}
.card-discount {
  color: black;
}
.last > .card-section > a {
  padding: 0px;
  margin: 0px 10px;
  background-color: white;
}

.footer {
  width: 100%;
  height: 500px;
  background-color: #2e2e54;
  display: flex;
  background: #2e2e54;
  padding: 0px 100px;
  color: #fff;
  margin-top: 100px;
}
.footer-left {
  width: 25%;
  float: left;
  overflow: hidden;
  padding: 20px;
  font-size: 14px;
}
.footer-left > ul,
.footer-center > ul,
.footer-right > ul {
  list-style-type: none;
}

.footer-left > ul > li > a,
.footer-center > ul > li > a {
  color: white !important;
}

.footer-center {
  padding: 50px;
  width: 25%;
  font-size: 14px;
}

.footer-right {
  width: 50%;
  height: 100%;
}

.see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}
.btn-end {
  padding: 20px 100px;
  border: 2px solid navy;
  color: navy;
}

.btn-end:hover {
  color: whitesmoke;
  font-weight: 500;
  background-color: navy;
}

.upper {
  height: 50%;
  padding: 50px;
  display: flex;
}

.upper-right {
  height: 100%;
  margin-left: 10px;
}

.upper > img {
  width: 100px;
  height: 100px;
  border-radius: 10%;
}

.img {
  width: 80px;
  height: 60px;
  padding: 0px 10px;
}
.img img {
  width: 100%;
  height: 100%;
}
.heading-footer > div {
  text-align: right;
  font-size: 12px;
}
.heading1 {
  color: rgb(250, 123, 123);
}
/* hoverable navbar */

/* long div */

.card-long {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 20%;
  border: 1px solid rgb(165, 164, 164);
  padding: 5px;
}

.card-long:hover {
  box-shadow: 2px 2px 10px 2px rgb(190, 190, 190);
  z-index: 1;
}
.top {
  align-items: center;
  text-align: center;
}

.bottom > img {
  width: 50px;
  height: 50px;
}

.newCards {
  width: 20%;
  height: 300px;
  padding: 2px;
  color: black;
  font-size: 14px;
  background: white;
  margin: 2px 2px 0px 0px;
}
.newCards:hover {
  box-shadow: 2px 2px 10px 2px rgb(189, 182, 182);
  z-index: 1;
}
.newCards > a:hover {
  text-decoration: none;
}
.card-img-top {
  height: 170px;
}

/* .main-descript {
  position: relative;
  height: 150px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  flex-direction: column;
} */

.main-descript {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descript {
  width: 60px;
  height: 56px;
  position: relative;
  margin: 0 auto;
  top: -20px;
}
.descript > img {
  width: 60px;
  height: 60px;
  padding: 5px;
  box-shadow: 0px 0px 5px black;
  background-color: white;
}
.main-descript {
  color: black !important;
  text-decoration-style: none;
}
